.aim{
    background-color: #FCF69C;
    margin:150px auto;
    height: 110px;
    width: 700px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    font-size: larger;
    font-weight: bolder;
}

.name{
    text-align: center;
    margin-top: 50px;
}

body{
    background: #009FFF;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #ec2F4B, #009FFF);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
